PORT=4000
JWT_SECRET=coloca_aqui_una_clave_segura_y_larga
JWT_EXPIRES_IN=1H



PORT=4000
JWT_SECRET=GatoPerroCarroAntiguaGuatemalaUmg
JWT_EXPIRES_IN=1H

# Credenciales de la Base de Datos
DB_USERNAME=hotel_user
DB_PASSWORD=hotel_pass
DB_DATABASE=hotel_db
DB_HOST=localhost
DB_PORT=5432

# STRIPE
STRIPE_SECRET_KEY=sk_test_51U3JGvRrKiaVQWRdXxRWmujOjRk3o4Rcpr0mh2gnteXcXBBO82fbc0fyk7QAsZiBe8h4DNKr7aLrsYbC4HrC7E7U00A2MzD5TQ


